#navigation {
    list-style-type: none;
    font-family: cursive;
    text-align: center;
    margin-top: 300px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 300px;
}

body {}